<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> head }}
  <body>
    {{> navbar }}
    <div class='row'>
      <div class='col-8'>
        <h1> TITULO BONITO </h1>
      </div>
      <div class='col-4'>
        <img src='/assets/images/woman.jpg' class='img-thumbnail'>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
